@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Merriweather", serif;
}

.banner-container {
    max-width: 1320px;
    min-height: 600px;
    margin: 20px auto 0 auto;
    background-image: url(../images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;

}

.banner-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-content p,
h1 {
    color: white;

}

.banner-content p {
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 16px;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* 65% section start here */

.second-section-container {
    width: 802.9px;
    height: 806px;
    margin: 90px auto 0 auto;
}

.second-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1 {
    color: rgb(255, 0, 0);
    font-size: 88px;
    font-weight: 700;
    text-align: center;
    font-family: Inter;
    padding-bottom: 48px;
    height: 107px;

}

.second-section-content p {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
    ;

}

.second-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
}

.image-container {
    width: 802.9px;
    height: 500px;
}

.image-container img {
    width: 100%;
    height: 100%;
}

/* midnight party section style  */

.midnight-party-container {
    width: 1320px;
    height: 600px;
    margin: 120px auto 0 auto;
    display: flex;
    background-image: url(/images/Vectorrr.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: overlay;
}

.leftside-content {
    width: 60%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.leftside-content h1 {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 11px;
    padding-left: 100px;

}

.leftside-content p {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding: 24px 20px 48px 125px;
}

.midnight-button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    padding: 0 500px 0 100px;
    text-transform: uppercase;
}

.rightside-content {
    width: 40%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightside-content img {
    width: 100%;
    height: 100%;
}


/* party time style */

.party-time-container {
    width: 1320px;
    height: 482px;
    margin: 120px auto 0 auto;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
}

.party-time-content {
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.party-time-content h3 {
    text-transform: capitalize;
}

.time-color {
    color: red;
}

.button {
    margin-top: 50px;
}

.button button {
    border-radius: 10px;
    background: rgb(255, 0, 0);
    width: 167px;
    height: 56px;
    border: 3px;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;

}

/* Offer section style */
.offer-section-container {
    width: 1320px;
    height: 463px;
    margin: 120px auto 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-content {
    width: 30%;
    height: 463px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
}

.left-content h5 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.left-content h3 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.left-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.middle-content {
    width: 40%;
    height: 463px;

}

.box {
    box-sizing: border-box;
    border: 15px solid rgb(255, 0, 0);
    border-radius: 50%;
    height: 100%;
    width: 87%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-content {
    width: 30%;
    height: 463px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: end;
}

.right-content h3 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-left: 125px;
    padding-bottom: 16px;
}

.right-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-left: 125px;
}


.right-image {
    width: 140px;
    height: 140px;
    padding-left: 125px;
    padding-top: 43px;
}

.right-image img {
    width: 100%;
    height: 100%;
}



/* holidays style  */


.holiday-section-container {
    width: 1320px;
    height: 986.07px;
    margin: 100px auto 0 auto;
    position: relative;

}

.hoiday-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1068px;
    height: 260px;
    margin: 0 auto;

}

#holiday {
    color: red;
}

.hoiday-text-container h5 {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.hoiday-text-container h1 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    color: black;
    padding-top: 16px;
}

.hoiday-text-container p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding-top: 28px;
}

.solid-color {
    border-radius: 16px 0px 16px 16px;
    background: rgb(255, 0, 0);
    width: 1320px;
    height: 229px;
    position: absolute;
    top: 77%;
}

.giftbox {

    position: absolute;
    left: 20px;
    top: 37%;
    display: flex;
}

.giftbox img {
    width: 674.82px;
    height: 577.96px;
}

.girl-container {
    position: relative;
    height: 400px;
    width: 400px;
    left: 21%;
}

.girl-container img {
    height: 395px;
    width: 400px;

}

.discount {
    position: absolute;
    left: 55%;
    top: 40%;
}


/* portfolio styles */

.portfolio-container {
    width: 1320px;
    height: 1163px;
    margin: 120px auto 0 auto;
}

.portfolio-text-content h5 {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    padding-bottom: 16px;
}

.portfolio-text-content h1 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 22px;
}

.portfolio-text-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 40px;
}

.item {
    width: 424px;
    height: 450px;

}

.item img {
    width: 100%;
    height: 100%;
}

.portfolio-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

}

/* subscribe section style */

.subscribe-section-container {
    width: 1320px;
    height: 616px;
    margin: 120px auto 0 auto;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.subscribe-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.subscribe-image {
    width: 150px;
    height: 150px;
    margin: 0px auto 40px auto;
}

.subscribe-image img {
    width: 100%;
    height: 100%;
}

.subscribe-section-content h3 {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 22px;
}

.subscribe-section-content p {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 45px;
}

.button-section{
    position: relative;
    width: 400px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button-section input {
    border: none;
    padding: 15px;
    border-radius: 50px;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 20px;
}

.subscribe {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: none;
    padding: 15px;
    border-radius: 0px 50px 50px 0px;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    height: 50px;

}

/* footer styles */

.footer-container {
    width: 1600px;
    height: 609px;
    background-color: rgb(7, 2, 17);
    margin: 120px auto 0 auto;
    padding-top: 40px;
}

.footer-first-section {
    display: flex;
    color: white;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 50px;
}

.contact {
    color: white;
    display: flex;
}

.hr {
    width: 80%;
    margin: 0 auto;
}

.social-icon {
    width: 400px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;

}

.footer-last-section {
    color: white;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}